:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #222426;
  background-color: #fffaf6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
}

.admin-dashboard {
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
}

.navbar {
  /* width: 100%; */
  padding: 20px;
  top: 0;
  background-color: #222426;

  display: flex;
  justify-content: space-around;
  align-items: center;

  .logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    color: #f4f4f4;
  }

  ul {
    display: flex;
    list-style: none;

    li {
      margin: 0 10px;

      a {
        text-decoration: none;
        color: #f4f4f4c2;
        transition: all .1s ease-out;
      }

      a:hover {
        color: #f4f4f4;
        scale: 1.1;
      }

      .nav-button {
        padding: 10px 20px;
        border-radius: 10px;
        border: solid 1px #f4f4f4;
      }

      .nav-button:hover {
        color: #222426;
        background-color: #f4f4f4;
      }
    }
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.table th,
.table td {
  border: 1px solid #dddddd;
  padding: 0.5rem;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
}

.table img {
  object-fit: cover;
}

.login {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    align-content: center;
    height: 70%;
    padding: 25px 50px;
    color: #f4f4f4;
    background-color: #15291f;
    border-radius: 15px;
    box-shadow: 0 4px 16px #00000033;


    h1 {
      margin-bottom: 0;
    }

    p {
      margin-top: 0;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      text-align: start;

      input {
        padding: 10px;
        background-color: #222623;
      }

    }

    button {
      margin: 15px;
      padding: 10px;

      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.error-label {
  color: red;
  margin-top: 1rem;
}